/*Ligature: common-ligature discretionary-ligature historical-ligature contextual-ligature
* Letter Case: small-caps small-caps-from-caps
* Number Case: lining-number-case or olstyle-number-case
* Number Spacing: proportional-number-spacing or tabular-number-spacing
* Fraction: normal-fraction or alternate-fraction
* Positioning: superiors-positioning inferiors-positioning
* Numeric Extras: slashed-zero-extra alternate-annotation-extra
* Character Alternatives: swash-alternative contextual-alternative historical-alternative stylistic-alternative
* Alternative Stylistic Set: set-1 set-2 set-3 set-4 set-5 set-6 set-7 set-8 set-9
*/
fontFeatureSetting(argument)
  features = ()
  if common-ligature in argument
    push(features, '"liga" 1')
  if discretionary-ligature in argument
    push(features, '"dlig" 1')
  if historical-ligature in argument
    push(features, '"hlig" 1')
  if contextual-ligature in argument
    push(features, '"clig" 1')

  if small-caps in argument
    push(features, '"smcp" 1')
  if small-caps-from-caps in argument
    push(features, '"c2sc" 1')
    
  if lining-number-case in argument
    push(features, '"lnum" 1')
  if olstyle-number-case in argument
    push(features, '"onum" 1')
    
  if proportional-number-spacing in argument
    push(features, '"pnum" 1')
  if tabular-number-spacing in argument
    push(features, '"tnum" 1')
    
  if normal-fraction in argument
    push(features, '"frac" 1')
  if alternate-fraction in argument
    push(features, '"afrc" 1')
    
  if superiors-positioning in argument
    push(features, '"subs" 1')
  if inferiors-positioning in argument
    push(features, '"sups" 1')
    
  if slashed-zero-extra in argument
    push(features, '"zero" 1')
  if alternate-annotation-extra in argument
    push(features, '"nalt" 1')
    
  if swash-alternative in argument
    push(features, '"swsh" 1')
  if contextual-alternative in argument
    push(features, '"calt" 1')
  if historical-alternative in argument
    push(features, '"hist" 1')
  if stylistic-alternative in argument
    push(features, '"salt" 1')

  if set-1 in argument
    push(features, '"ss01" 1')
  if set-2 in argument
    push(features, '"ss02" 1')
  if set-3 in argument
    push(features, '"ss03" 1')
  if set-4 in argument
    push(features, '"ss04" 1')
  if set-5 in argument
    push(features, '"ss05" 1')
  if set-6 in argument
    push(features, '"ss06" 1')
  if set-7 in argument
    push(features, '"ss07" 1')
  if set-8 in argument
    push(features, '"ss08" 1')
  if set-9 in argument
    push(features, '"ss09" 1')
     
  -moz-font-feature-settings unquote(join(", ", features))
  -webkit-font-feature-settings unquote(join(", ", features))
  font-feature-settings unquote(join(", ", features))